body{
	-webkit-background-color: lightgrey;
}
img{
	-webkit-width: 20%;
        -webkit-background-color: 
        -webkit-margin-left:10px;
	-webkit-padding-left: 40px;
	
}
h1{
    -webkit-text-align: center;
    -webkit-color:white;
   -webkit-font-size: 20px;
  -webkit-padding-top: 50px;
}
nav{
	-webkit-text-decoration: none;
        -webkit-text-align: center;
         -webkit-padding-top: 20px;
          -webkit-font-size: 20px;
}
section{
	-webkit-padding-left: 200px;
	-webkit-margin-left: 125px;
	-webkit-margin-top: -540px;
}
header{
	-webkit-padding-bottom: 100px;
	-webkit-background-repeat: no-repeat;
	-webkit-background-size: 1300px;
    -webkit-margin-left: 40px;
    -webkit-margin-top: 10px;


}
a {
    text-decoration: none;
	-webkit-background-color: rgba(240,240,240,.6);
	-webkit-padding: 10px;
	-webkit-margin: 20px;
	-webkit-font-size: 20px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-padding-left: 25px;
	-webkit-padding-right: 25px;
	-webkitmargin: 80px;
	-webkitcolor:black;
}
a:link {
  -webkit-color: red;
}

/* visited link */
a:visited {
	-webkit-background-color: yellow;
  -webkit-color: black;
}

/* mouse over link */
a:hover {
	-webkit-cursor: pointer;
  -webkit-color: hotpink;
}

/* selected link */
a:active {
  -webkit-color: white;
}
.right{
-webkit-background-color: lightgrey;
}
